<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Save Employee</h2>
    <form action="#" th:action="@{/employee/view}" th:object="${employee}"
          method="POST">
        <input type="text" th:field="*{firstName}" placeholder="Employee FirstName"
               class="form-control mb-4 col-4">

        <input type="text" th:field="*{secondName}" placeholder="Employee SecondEmail"
               class="form-control mb-4 col-4">

        <input type="text" th:field="*{department}" placeholder="Employee Department"
               class="form-control mb-4 col-4">

        <input type="text" th:field="*{phone}" placeholder="Employee Phone"
               class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Save
            Employee</button>
    </form>
    <hr>

    <a th:href="@{/employee/view}"> Back to Employee List</a>
</div>
</body>
</html>